Rtt.ClientManager/Connected Services/RttServiceReference/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rtt.ClientManager.Shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rtt.ClientManager.Shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Addresses" nillable="true" type="tns:ArrayOfAddress" />
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="ContactInformation" nillable="true" type="tns:ArrayOfContactInfo" />
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentificationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Occupation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="ArrayOfAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddress" nillable="true" type="tns:ArrayOfAddress" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressId" type="xs:int" />
      <xs:element minOccurs="0" name="AddressType" type="tns:AddressType" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:simpleType name="AddressType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Home" />
      <xs:enumeration value="Work" />
      <xs:enumeration value="Postal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AddressType" nillable="true" type="tns:AddressType" />
  <xs:complexType name="ArrayOfContactInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactInfo" nillable="true" type="tns:ContactInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactInfo" nillable="true" type="tns:ArrayOfContactInfo" />
  <xs:complexType name="ContactInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="ContactId" type="xs:int" />
      <xs:element minOccurs="0" name="ContactType" type="tns:ContactType" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactInfo" nillable="true" type="tns:ContactInfo" />
  <xs:simpleType name="ContactType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Cell" />
      <xs:enumeration value="HomePhone" />
      <xs:enumeration value="Email" />
      <xs:enumeration value="Work" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ContactType" nillable="true" type="tns:ContactType" />
  <xs:complexType name="ArrayOfClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClient" nillable="true" type="tns:ArrayOfClient" />
</xs:schema>